.container {
    
}

.title {
  width: 430px;
  max-width: 90%;
  margin-top: 35px;
  opacity: 100%;
  filter: invert(52%) sepia(65%) saturate(411%) hue-rotate(149deg);
}

.present {
  width: 230px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Desktop stuff */
@media (min-width: 768px) {
    .present {
      right: 20;
      background-size: 300px;
      background-position: right;
      background-position-y: bottom;
    }
  }
  