* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: center;
}

button {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border: #b20050 solid 2px;
  border-radius: 30px;
  color: #b20050;
  cursor: pointer;
  padding: 6px;
  outline: 2px solid #b20050;
  outline-offset: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #b20050;
}

footer {
  display: flex;
  justify-content: center;
}

/* Desktop stuff */
@media (min-width: 768px) {
  button:hover {
    background-color: #35b2ae;
    border: white solid 2px;
    outline: 2px solid #35b2ae;
    color: white;
  }
}
