* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/backgroundPhone.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-position-y: bottom;
}

header {
  display: flex;
  justify-content: center;
}

button {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border: #01a8c2 solid 2px;
  border-radius: 30px;
  color: #01a8c2;
  cursor: pointer;
  padding: 6px;
  outline: 2px solid #01a8c2;
  outline-offset: 0px;
  margin-bottom: 10px;
}

.starterContent {
display: flex;
justify-content: center;
}

.starterButton {
  margin: 20px;
  padding: 20px;
  font-size: 24px;
}

h2 {
  color: #01a8c2;
}

footer {
  display: flex;
  justify-content: center;
}

.topLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emoji-link,
.logo-link {
  font-size: 40px;
  text-decoration: none;
  margin: 10px 10px 0 10px;
}

/* Desktop stuff */
@media (min-width: 768px) {
  button:hover {
    background-color: #b20050;
    border: white solid 2px;
    outline: 2px solid #b20050;
    color: white;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-image: url("/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
  }

  .starterContent {
    display: flex;
    flex-direction: row; 
  }

}
